.login_register {
  height: 100vh;
  background: #1f9993;
}
.am-list {
  margin: 0.2rem;
}
.am-list-body {
  padding: 0.1rem;
  border-radius: 0.1rem;
  overflow: hidden;
}
.am-radio {
  width: 0.19rem;
  height: 0.19rem;
  margin-left: 0.1rem;
  border: 1px solid green;
  border-radius: 50%;
}
.am-button {
  margin-top: 0.1rem;
}
