* {
  touch-action: pan-y;
}
.header {
  margin-top: 0.45rem;
}
.header .am-list {
  margin: 0.1rem;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
  width: 50%!important;
}
.icon-header {
  display: flex;
  align-items: center;
}
